@font-face {
      font-family:"Kristen ITC";
      src: url("../fonts/ITCKRIST.woff2") format("woff2");
}

@font-face {
      font-family:"Segoe UI";
      src: url("../fonts/Segoe UI.woff2") format("woff2");
}

#top-bar {
  position: relative;
  align-items: center;
  display: flex;
  padding: 0px 1%;
  background-color: #262626;
  height: 35px;
  width: 100%;
}

@media (min-width: 1200px) {
  #top-bar {
    align-items: center;
    display: flex;
    padding: 0px 1%;
    background-color: #262626;
    height: 40px;
    width: 100%;
  }
}

#top-bar > div > .fa {
  color: #fca311;
}

#top-bar > div > span {
  color: #f7f9f7;
}

#top-bar > a {
  color: #f7f9f7;
}

#lang {
  flex: 1 1 20%;
}

#top-bar > #lang {
  display: flex;
  justify-content: flex-end;
}

#lang > button {
  border: 0;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
}

#lang > button:hover {
  text-decoration-color: #f7f9f7;
  text-decoration: underline;
}

#dropdown-topbar {
  flex: 1 1 20%;
}

#mail-topbar {
  justify-content: center;
  display: flex;
  flex: 1 1 20%;
}

#phone-topbar {
  display: flex;
  justify-content: center;
  flex: 1 1 20%;
}

#compte-topbar {
  display: flex;
  justify-content: center;
  flex: 1 1 30%;
}

header > div {
  display: flex;
  align-items: center;
}

@media (max-width: 580px) {
  header > div {
    display: flex;
    align-items: center;
  }
}

header {
  display: flex;
  padding: 10px 15%;
  background-color: rgba(0,0,0,0.5);
}

@media (max-width: 580px) {
  header {
    border: 1px solid black;
    padding: 10px 5%;
    background-color: RGBA(255,255,255,1);
  }
}

#nav-title > img {
  width: 18%;
  height: auto;
}

@media (min-width: 580px) {
  #nav-title > img {
    width: 12%;
    height: auto;
  }
}

#nav-title > a {
  width: 88%;
  padding-left: 15%;
  color: #f7f9f7;
  font-size: 20px;
  display: flex;
  font-family: "Kristen ITC", sans-serif;
}

@media (max-width: 580px) {
  #nav-title > a {
    width: 88%;
    padding-left: 10%;
    color: #262626;
    font-size: 20px;
    display: block;
  }
}

#nav-title {
  flex: 1 1 30%;
  display: flex;
}

@media (max-width: 580px) {
  #nav-title {
    flex: 1 1 90%;
    display: flex;
  }
}

#nav-items {
  font-weight: 600;
  flex: 1 1 70%;
}

@media (max-width: 580px) {
  #nav-items {
    display: none;
    font-weight: 600;
    flex: 1 1 60%;
  }
}

#nav-items > ul > li {
  padding-left: 5%;
  display: inline-block;
}

@media (max-width: 580px) {
  #nav-items > ul > li {
    padding-left: 5%;
    display: inline-block;
  }
}

#nav-items > ul {
  width: 100%;
}

@media (max-width: 580px) {
  #nav-items > ul {
    width: 100%;
  }
}

#nav-burger {
  display: none;
  flex: 1 1 0%;
}

@media (max-width: 580px) {
  #nav-burger {
    font-size: 30px;
    display: flex;
    flex: 1 1 10%;
  }
}

.footer-u {
  grid-gap: 30px 150px;
  padding: 30px 20% 10px 20%;
  width: 100%;
  bottom: 0;
  background-color: #262626;
}

.h3-footer {
  text-align: center;
  font-size: 18px;
}

h3 > i {
  margin-right: 10px;
}

.i-footer {
  color: #fca311;
}

.span-footer {
  color: #f7f9f7;
}

.p-title {
  text-align: left;
  margin-bottom: 0;
  color: #f7f9f7;
  font-weight: bold;
  font-size: 27px;
  margin-left: 25px;
}

a {
  opacity: 0.8;
  color: #f7f9f7;
}

a:hover {
  color: #f7f9f7;
  text-decoration: none;
  opacity: 1;
}

ul {
  padding-left: 0px;
}

li {
  color: #f7f9f7;
  list-style-type: none;
}

.fa.fa-facebook {
  padding-right: 5px;
  color: #279af1;
}

.fa.fa-twitter {
  color: #8cc9f8;
  padding-right: 5px;
}

.social-space {
  width: 100%;
  justify-content: center;
  display: flex;
}

.social-space > div:first-child {
  margin-right: 10px;
}

#footer-title {
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: footer-title;
}

@media (min-width: 580px) {
  #footer-title {
    align-items: center;
    justify-content: left;
    display: flex;
    grid-area: footer-title;
  }
}

#footer-info {
  text-align: center;
  padding: 10px 0px;
  grid-area: footer-info;
}

#footer-services {
  text-align: center;
  padding: 10px 0px;
  grid-area: footer-services;
}

#footer-contact {
  text-align: center;
  padding: 10px 0px;
  grid-area: footer-contact;
}

#footer-social {
  align-items: flex-end;
  display: flex;
  grid-area: footer-social;
}

#map {
  grid-area: map;
}

#map > img {
  margin: auto auto;
  display: block;
  width: 100%;
}

.img-footer-title {
  width: 70px;
  height: 70px;
}

.footer-u > div {
  white-space: normal;
}

@media (max-width: 770px) {
  .dropdown {
    display: none;
  }
}

@media (max-width: 770px) {
  #phone-topbar {
    display: none;
  }
}

@media (max-width: 770px) {
  #mail-topbar {
    display: none;
  }
}

@media (max-width: 770px) {
  #compte-topbar {
    display: none;
  }
}

@media (max-width: 580px) {
  .footer-u {
    padding-right: 0%;
    padding-left: 0%;
  }
}

@media (max-width: 580px) {
  #map {
    display: none;
  }
}

@media (max-width: 580px) {
  #footer-title {
    padding-bottom: 10%;
  }
}

@media (min-width: 990px) {
  .h3-footer {
    text-align: left;
    font-size: 18px;
  }
}

@media (min-width: 990px) {
  #footer-info {
    text-align: left;
    padding: 10px 0px;
    grid-area: footer-info;
  }
}

@media (min-width: 990px) {
  #footer-services {
    text-align: left;
    padding: 10px 0px;
    grid-area: footer-services;
  }
}

@media (min-width: 990px) {
  #footer-contact {
    text-align: left;
    padding: 10px 0px;
    grid-area: footer-contact;
  }
}

@media (min-width: 990px) {
  footer {
    display: grid;
    grid-template-areas: "footer-title .""footer-info footer-services""footer-contact map""footer-social map";
  }
}

@media (min-width: 990px) {
  .footer-u li {
    margin-left: 16px;
  }
}

@media (min-width: 990px) {
  aside {
    display: none;
  }
}

.dropdown > .btn-primary {
  padding: 0px 5px;
  height: 30px;
  border-color: #f7f9f7;
  background-color: #262626;
  color: #f7f9f7;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  border-color: #f7f9f7;
  background-color: #262626;
  color: #f7f9f7;
}

.dropdown-menu.show {
  border-color: #f7f9f7;
  padding: 0px;
  background-color: #262626;
}

.dropdown-item:hover {
  color: #f7f9f7;
  background-color: #939393;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 16px;
  clear: both;
  font-weight: 400;
  color: #f7f9f7;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item > input {
  padding-left: 10px;
}

#top-bar i {
  padding: 0px 5px;
  display: flex;
  align-items: center;
}

#dropdown-topbar i {
  display: inline;
  padding: 0px 0px;
}

#nav-items ul {
  align-items: center;
  display: flex;
}

#nav-items > * {
  margin-bottom: 0px;
}

#nav-title > * {
  margin-bottom: 0px;
}

html, body {
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  height: 100%;
}

@media (min-width: 580px) {
  html {
    font-size: 1.3em;
  }
}

#page-compte {
  padding: 12% 32%;
}

@media (max-width: 580px) {
  #page-compte {
    padding: 10% 5%;
  }
}

#page-compte div {
  background-color: #f7f9f7;
  padding: 2% 10%;
  border-radius: 5px;
  border: 1px solid #279af1;
}

#page-compte h1 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #279af1;
}

#page-compte .span-title-form {
  padding: 5px 0px;
  color: #262626;
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 20px;
}

#page-compte form {
  padding: 0% 15% 5% 15%;
}

.form-control {
  margin-top: 3%;
  padding-left: 0px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #939393;
}

#page-compte input {
  padding-bottom: 1px;
  background-color: #f7f9f7;
}

#page-compte .btn.btn-primary {
  margin-top: 15px;
  font-weight: 700;
  color: #262626;
  padding: 3px 0px;
  width: 100%;
  background-color: #fca311;
}

#page-compte > div > .no-account {
  font-size: 12px;
  text-align: center;
  display: block;
}

#page-compte > div > a {
  font-size: 12px;
  color: #279af1;
  text-align: center;
  display: block;
}

aside {
  transition: 0.5s all;
  z-index: 1;
  /*padding: 10% 5%;*/
  width: 0;
  background-color: #f7f9f7;
  height: 100%;
  position: fixed;
  right: 0;
}

aside h1 {
  color: #279af1;
}

aside .fa-arrow-right {
  color: #279af1;
}

aside .btn {
  margin-bottom: 15px;
  border: 1px solid #262626;
  background-color: #fca311;
  font-weight: 600;
  color: #262626;
}

aside .btn:hover {
  border: 1px solid #262626;
  background-color: #ffbd53;
  font-weight: 600;
  color: #262626;
}

aside .btn:active:focus {
  box-shadow: none;
  border: 1px solid #262626;
  background-color: #ffbd53;
  font-weight: 600;
  color: #262626;
}

#title-burger {
  padding: 6% 0%;
}

aside #title-burger {
  display: flex;
}

aside #title-burger h1 {
  font-family: "Kristen ITC", sans-serif;
  flex: 1 1 90%;
  font-size: 24px;
  display: flex;
}

aside #title-burger .fa {
  flex: 1 1 10%;
  font-size: 37px;
  display: flex;
}

aside > span, .btn {
  width: 100%;
  display: block;
}

aside > span > a {
  opacity: 0.8;
  font-size: 25px;
  font-weight: 600;
  color: #262626;
}

aside > span > a:hover {
  opacity: 1;
  color: #262626;
}

aside i {
  margin-right: 10px;
  color: #fca311;
  font-size: 23px !important;
}

aside > .fa.fa-id-card {
  font-size: 20px !important;
}

.fa.fa-phone {
  font-size: 20px;
}

aside > span:nth-child(9) {
  margin-top: 40px;
}

aside .fa-gear {
  color: #262626;
  font-size: 50px !important;
}

aside span {
  padding: 2.3% 0%;
  font-weight: 700;
}

aside #vertical-menu-acess span {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

aside #vertical-menu-acess {
  margin-top: 10%;
  padding: 5px 5px;
  border: 1px solid #262626;
  border-radius: 5px;
}

#gear-title {
  align-items: center;
  display: flex;
  font-weight: 700;
}

#gear-text-size {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#gear-text-size > input {
  margin-bottom: -2px;
  margin-left: 5px;
}

#gear-darkmode {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#gear-darkmode > input {
  margin-bottom: -2px;
  margin-left: 5px;
}

#vertical-menu-acess label {
  margin-bottom: 0px;
  display: flex;
}

#top-banner {
  padding: 5% 5%;
  text-align: center;
  width: 100%;
}

@media (min-width: 580px) {
  #top-banner {
    padding: 5% 15%;
    text-align: center;
    width: 100%;
  }
}

#banner-text {
  padding: 5% 5%;
  background-color: rgb(0,0,0, 0.5);
  color: #f7f9f7;
  height: 100%;
  width: 100%;
}

@media (min-width: 580px) {
  #banner-text {
    padding: 5% 20%;
    background-color: rgb(0,0,0, 0.5);
    color: #f7f9f7;
    height: 100%;
    width: 100%;
  }
}

#banner-text > h4 {
  margin-bottom: -1px;
  font-size: 20px;
}

#banner-text > h2 {
  font-size: 26px;
}

#hr-top {
  border: 1px solid white;
  color: #f7f9f7;
  width: 60px;
}

#devis-top-banner {
  margin: auto;
  width: 60%;
  display: block;
  opacity: 1;
  text-align: center;
  color: #262626;
  background-color: #fca311;
}

@media (min-width: 580px) {
  #devis-top-banner {
    margin: auto;
    width: 40%;
    display: block;
    opacity: 1;
    text-align: center;
    color: #262626;
    background-color: #fca311;
  }
}

#main-prestation {
  width: 100%;
}

#main-accueil {
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/background1.jpg");
  width: 100%;
}

#main-prestation {
  background-position-x: 30%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/background2.jpg");
  width: 100%;
}

#main-qui {
  background-position-x: center;
  background-position-y: 85%;
  background-size: 130%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/background4.jpg");
  width: 100%;
}

@media (min-width: 580px) {
  #main-qui {
    background-position-x: center;
    background-position-y: 85%;
    background-size: 130%;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/background4.jpg");
    width: 100%;
  }
}

@media (min-width: 580px) {
  #main-qui {
    height: 300px;
  }
}

#main-contact {
  background-position-x: center;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/background3.jpg");
  width: 100%;
}

/* Page Nos Prestations */

#nos-services {
  padding: 0% 15%;
  text-align: center;
  margin-top: 5%;
}

#nos-services i {
  margin-top: 20px;
  color: #fca311;
  font-size: 50px;
}

#nos-services h3 {
  margin-top: 15px;
}

#nos-services div {
  margin-top: 15px;
}

@media (min-width: 580px) {
  #service-box > div {
    vertical-align: top;
    padding: 0% 5%;
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
  }
}

.title-content {
  margin-top: 25px;
  font-size: 27px;
  text-align: center;
  font-weight: 640;
  color: #279af1;
}

.hr-content {
  width: 60px;
  border: 1px solid #279af1;
}

.img-container-presta {
  padding: 3% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 580px) {
  .img-container-presta {
    padding: 0% 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.img-container-presta > div:first-child {
  flex: 1 1 40%;
}

.img-container-presta > div:last-child {
  text-align: center;
  flex: 1 1 60%;
}

@media (min-width: 580px) {
  .img-container-presta > div:first-child {
    padding-right: 10px;
    text-align: right;
    flex: 1 1 50%;
  }
}

@media (min-width: 580px) {
  .img-container-presta > div:last-child {
    padding-left: 10px;
    text-align: center;
    flex: 1 1 50%;
  }
}

.img-container-presta > div > img {
  width: 100%;
}

@media (min-width: 580px) {
  .img-container-presta > div > img {
    width: 80%;
  }
}

#img-reverse {
  flex-direction: row-reverse;
}

@media (min-width: 580px) {
  #img-reverse {
    flex-direction: row;
  }
}

@media (min-width: 580px) {
  .img-container-presta > div:last-child, .img-box-p {
    margin-bottom: 0;
    text-align: left;
  }
}

#avis-clients-title {
  margin-top: 10px;
  text-align: center;
}

#avis-clients-container {
  margin: 5% 5%;
  background-color: #8cc9f8;
  padding: 5% 5%;
}

.avis {
  vertical-align: top;
  padding: 5% 5%;
  align-items: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 580px) {
  .avis {
    display: inline-block;
    padding: 5% 5%;
    align-items: center;
    text-align: center;
    width: 33%;
  }
}

@media (max-width: 580px) {
  .avis-hidden {
    display: none!important;
  }
}

#points > i {
  padding: 0% 0.5%;
  text-align: center;
  color: white;
}

.fa.fa-star {
  margin-bottom: 15px;
  color: rgb(245,219,80);
}

.avis > span {
  margin-bottom: -5px;
}

#nos-realisations {
  padding: 0% 5%;
}

@media (min-width: 580px) {
  #nos-realisations > div > div > h4 {
    padding: 0% 0%;
    text-align: left;
  }
}

#img-box > img {
  float: left;
  width: 135px;
  height: 90px;
}

#img-box > img {
  float: left;
  width: 135px;
  height: 90px;
}

#img-box {
  text-align: center;
  padding: 5% 0%;
  height: 150px;
  width: 100%;
}

.img-box-heading .img-box-pg {
  float: left;
}

#img-boxg > img {
  float: right;
  width: 135px;
  height: 90px;
}

#desk-notif {
  display: none;
}

@media (min-width: 580px) {
  #desk-notif {
    text-align: center;
    margin: 5% 20%;
    padding: 1% 1%;
    box-shadow: 3px 3px rgb(147,147,147);
    border: 1px solid #262626;
    display: block;
  }
}

/* Page Qui-sommes-nous */

.para-center {
  text-align: center;
}

#notre-equipe {
  padding: 0% 5%;
}

@media (min-width: 580px) {
  #notre-equipe {
    padding: 0% 20%;
  }
}

.img-box {
  align-items: center;
  display: flex;
}

@media (min-width: 580px) {
  .img-box {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding: 0% 5%;
  }
}

.img-box > div:first-child {
  flex: 1 1 17.5%;
}

.img-box > div:nth-child(2) {
  text-align: left;
  padding: 0% 7%;
  flex: 1 1 65%;
}

@media (min-width: 580px) {
  .img-box > div:nth-child(2) {
    text-align: center;
    padding: 5% 2%;
    flex: 1 1 65%;
  }
}

.img-box > div:last-child {
  flex: 1 1 17.5%;
}

.img-team {
  width: 100%;
}

@media (min-width: 580px) {
  .img-team {
    margin: auto auto;
    display: block;
    width: 50%;
  }
}

.img-box-reverse {
  flex-direction: row-reverse;
}

.img-box-reverse > div:nth-child(2) {
  text-align: right;
}

@media (min-width: 580px) {
  .img-box-reverse > div:nth-child(2) {
    text-align: center;
  }
}

#equipe-traduction {
  text-align: center;
  padding: 0% 5%;
}

@media (min-width: 580px) {
  #equipe-traduction {
    text-align: center;
    padding: 0% 20%;
  }
}

#encadrer-orange-p {
  padding: 5% 6%;
  color: white;
  background-color: #FCA311;
  width: 100%;
}

@media (min-width: 580px) {
  #encadrer-orange-p {
    margin: 5% 0%;
    padding: 2%;
    color: white;
    background-color: #FCA311;
    width: 100%;
  }
}

#para {
  padding: 1% 5%;
  text-align: center;
}

#para > h4 > span {
  color: #fca311;
}

@media (min-width: 580px) {
  #para > p, h4 {
    text-align: center;
    padding: 0% 20%;
  }
}

#para > i {
  margin-top: 10px;
  color: #fca311;
  font-size: 50px;
}

@media (min-width: 580px) {
  #para > i {
    margin-top: 35px;
    color: #fca311;
    font-size: 50px;
  }
}

/* Page contact */

#form {
  padding: 5% 10%;
  width: 100%;
}

@media (min-width: 580px) {
  #form {
    padding: 5% 20%;
    width: 100%;
  }
}

.remplir {
  opacity: 0.6;
  font-style: italic;
}

.titles {
  margin-bottom: 0px;
  font-size: 18px;
  text-align: left;
  font-weight: 600;
  margin-top: 10px;
}

@media (min-width: 580px) {
  .titles, .remplir {
    text-align: left;
  }
}

#form .btn.btn-primary {
  margin-top: 15px;
  font-weight: 700;
  color: #262626;
  padding: 3px 0px;
  width: 100%;
  background-color: #fca311;
}

#contact-notif {
  padding: 5% 10%;
  width: 100%;
}

@media (min-width: 580px) {
  #contact-notif {
    display: none;
    padding: 5% 10%;
    width: 100%;
  }
}

#contact-notif > p {
  text-align: center;
  border-radius: 5px;
  padding: 5% 5%;
  border: 1px solid #279af1;
  font-style: italic;
  color: #8cc9f8;
  width: 100%;
}

@media (min-width: 580px) {
  .form-container {
    text-align: left;
    padding: 5% 10%;
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
  }
}

#cooldown {
  display: none;
  padding: 5% 20%;
}

@media (min-width: 580px) {
  #cooldown {
    padding: 5% 20%;
    display: flex;
  }
}

#cooldown > p {
  padding-left: 15px;
  font-size: 20px;
  flex: 1 1 90%;
}

#cooldown > i {
  color: #fca311;
  font-size: 89px;
  flex: 1 1 10%;
}

/* Page accueil */

.mobile-home-btn {
  display: none!important;
}

#content-home {
  padding: 0% 5%;
}

@media (min-width: 580px) {
  #content-home {
    padding: 5% 15%;
  }
}

#content-home .btn.btn-primary {
  margin-top: 15px;
  font-weight: 700;
  color: #262626;
  padding: 3px 0px;
  width: 100%;
  background-color: #fca311;
}

#content-home > button {
  justify-content: center;
  display: flex;
  align-items: center;
}

#content-home .btn.btn-primary .fa-envelope-o {
  font-size: 20px;
  font-weight: 600;
}

#content-home > .btn.btn-primary > .fa-phone {
  font-size: 20px;
  font-weight: 600;
}

#content-home > p {
  margin-bottom: 0px;
  text-align: center;
}

.side {
  box-sizing: border-box;
  padding: 5% 5%;
  width: 49%;
  display: inline-block;
}

@media (min-width: 580px) {
  .side-container {
    padding: 0% 25%;
  }
}

.langue {
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.langue > div {
  box-sizing: border-box;
  flex: 1 1 20%;
}

.langue > div > img {
  box-sizing: border-box;
  width: 100%;
}

.langue > span {
  box-sizing: border-box;
  flex: 1 1 80%;
}

.side-container {
  display: flex;
}

#gauche-home {
  text-align: right;
}

#gauche-home > .langue > span {
  padding-right: 14px;
}

#droite-home > .langue > span {
  padding-left: 14px;
}

#grid-logo {
  grid-template-columns: repeat(3, calc(100%/3));
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
  display: grid;
}

@media (min-width: 580px) {
  #grid-logo {
    padding: 0% 20%;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
    display: grid;
  }
}

.img-container {
  padding: 5% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container > img {
  width: 100%;
}

#img-container-1 {
  grid-area: img1;
}

#img-container-2 {
  grid-area: img2;
}

#img-container-3 {
  grid-area: img3;
}

#img-container-4 {
  grid-area: img4;
}

#img-container-5 {
  grid-area: img5;
}

#img-container-6 {
  grid-area: img6;
}

#img-container-7 {
  grid-area: img7;
}

#img-container-8 {
  grid-area: img8;
}

#img-container-9 {
  grid-area: img9;
}

#chiffres {
  margin-bottom: 5%;
  padding: 5% 5%;
  height: 100%;
  width: 100%;
  background-color: #8cc9f8;
}

@media (min-width: 580px) {
  #chiffres {
    padding: 2% 20%;
  }
}

.dix {
  padding: 5% 0%;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

@media (min-width: 580px) {
  .dix {
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
  }
}

.circle {
  display: flex;
  align-items: center;
  padding: 0% 3%;
}

@media (min-width: 580px) {
  .circle {
    text-align: center;
    margin: 0% 5%;
    padding: 0% 0%;
    width: calc(67%/3);
    display: inline-block;
  }
}

.circle > div {
  flex: 1 1 30%;
}

.circle > div > img {
  width: 100%;
}

@media (min-width: 580px) {
  .circle > div > img {
    width: 50%;
  }
}

.circle > p {
  padding-left: 5%;
  margin-bottom: 0;
  flex: 1 1 70%;
}

@media (min-width: 580px) {
  .circle > p {
    font-size: 15px;
    padding-left: 5%;
    flex: 1 1 70%;
  }
}

#circle-reverse {
  flex-direction: row-reverse;
}

#circle-reverse > p {
  padding-right: 5%;
  padding-left: 0;
  text-align: right;
}

@media (min-width: 580px) {
  #circle-reverse > p {
    text-align: center;
  }
}

